<head>
    <title>Hallo!</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    
    <main class="row justify-content-center">
        @RenderBody()
    </main>
</body>